@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Oxanium:wght@200;400;500;700&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Oxanium, sans-serif;
  background-color: #0d0d2b;
  color: #ffffff;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
@media screen and (max-width: 75em) {
  .container {
    max-width: 100rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 64em) {
  .container {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 40em) {
  .container {
    width: 95%;
  }
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.2rem;
}

button {
  background: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.hidden {
  opacity: 0;
}

.btn_calculate {
  width: 15rem;
  height: 4rem;
  margin-block-start: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background-color: #3b82f6;
  color: #fff;
  border-radius: 20px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
}
@media screen and (max-width: 64em) {
  .nav {
    flex-direction: column;
    align-items: initial;
    font-size: 2rem;
  }
}
.nav__brand {
  width: 13.5rem;
  height: 4rem;
}
.nav__brand--logo {
  width: 100%;
  height: 100%;
}
.nav--menu {
  display: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 13.5rem);
}
@media screen and (max-width: 64em) {
  .nav--menu {
    visibility: hidden;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1000;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.nav__item {
  width: 80rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-inline-end: 2rem;
  gap: 4rem;
}
@media screen and (max-width: 75em) {
  .nav__item {
    width: 60rem;
  }
}
@media screen and (max-width: 64em) {
  .nav__item {
    justify-content: initial;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
.nav__auth {
  display: flex;
  align-items: center;
  width: 23.5rem;
}
@media screen and (max-width: 64em) {
  .nav__auth {
    margin-block-start: 2rem;
  }
}
.nav__auth--login-item {
  margin-inline: 3rem;
}
.nav__auth--register-item {
  margin-inline-start: 3rem;
}
.nav__divide {
  opacity: 20%;
}

.btn-sm {
  background-color: #3b82f6;
  height: 3rem;
  border-radius: 30px;
  width: 10rem;
}
.btn-sm a {
  font-size: 1.6rem;
}

.toggle--icon {
  position: absolute;
  top: 10px;
  right: 3px;
}
.toggle--icon, .toggle--icon::before, .toggle--icon::after {
  display: none;
  content: "";
  background-color: white;
  height: 3px;
  width: 20px;
}
@media screen and (max-width: 64em) {
  .toggle--icon, .toggle--icon::before, .toggle--icon::after {
    display: block;
  }
}
.toggle--icon::before {
  content: "";
  position: absolute;
  top: 5px;
}
.toggle--icon::after {
  content: "";
  position: absolute;
  bottom: 5px;
}

.bg {
  display: none;
  opacity: 0;
  background-color: red;
  position: fixed;
  width: 100%;
  height: 100rem;
  z-index: 0;
  top: 0;
  left: 0;
}

.footer {
  font-size: 1.6rem;
  padding-block-start: 5rem;
  width: 100%;
  text-align: center;
}
.footer--top {
  display: grid;
  grid-template-columns: 0.8fr repeat(2, 25rem) 1fr;
  gap: 3rem;
}
@media screen and (max-width: 64em) {
  .footer--top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer--list {
  margin-block-start: 3rem;
}
@media screen and (max-width: 64em) {
  .footer--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer--item:not(:first-child) {
  margin-top: 1.5rem;
}
.footer--bottom {
  margin-block-start: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 64em) {
  .footer--bottom {
    width: 100%;
    margin-block-start: 3rem;
    flex-direction: column;
    align-content: center;
  }
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 64em) {
  .footer__social {
    margin-block-start: 3rem;
    gap: 4rem;
  }
}
.footer__social--icon {
  width: 2rem;
  height: 2rem;
  fill: #f9fafb;
}

.payment__method {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-block-start: 5rem;
}
@media screen and (max-width: 64em) {
  .payment__method {
    justify-content: center;
  }
}

.calculate_text1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.calculate_text2 {
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  color: #e0e0e0;
}
.calculate_box {
  margin: auto;
  width: 942px;
  height: 155px;
  background: #f9fafb;
  border-radius: 16px 16px 0px 0px;
  padding: 2rem;
}
@media screen and (max-width: 48em) {
  .calculate_box {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 64em) {
  .calculate_box {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 75em) {
  .calculate_box {
    width: 100%;
    height: 200px;
  }
}
.calculate_box_form-dropdown {
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  border: none;
}
.calculate_box_form-search {
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
  font-size: 20px;
  color: #000000;
  mix-blend-mode: normal;
}

.form {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 48em) {
  .form {
    display: block;
  }
}
@media screen and (max-width: 64em) {
  .form {
    display: block;
  }
}
@media screen and (max-width: 75em) {
  .form {
    display: block;
  }
}

.dropdown {
  width: 200px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 20px;
  height: 75px;
}

.base-section {
  background-color: #f9fafb;
  height: auto;
}
.base-section_text {
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: #0D0D2B;
}
@media screen and (max-width: 48em) {
  .base-section_text {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
  }
}
@media screen and (max-width: 64em) {
  .base-section_text {
    text-align: center;
    font-weight: 900;
  }
}
@media screen and (max-width: 75em) {
  .base-section_text {
    text-align: center;
    font-weight: 900;
  }
}
.base-section-cont {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 48em) {
  .base-section-cont {
    display: block;
    margin-top: 20px;
  }
}
.base-section-cont_button {
  width: 64px;
  padding: -3px;
  height: 64px;
  border-radius: 50%;
  margin: auto;
  border: 2px solid rgba(43, 7, 110, 0.2);
  margin-top: 20px;
  padding: 6px;
  display: flex;
  align-items: center;
}
.base-section-cont_text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #0D0D2B;
  text-align: center;
  letter-spacing: 0.01em;
}
.base-section-cont-span {
  position: absolute;
  width: 36px;
  height: 27px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-align: center;
  color: #9ca3af;
}
.base-section-cont_box1, .base-section-cont_box2, .base-section-cont_box3 {
  padding: 50px;
  width: 370px;
  height: 433px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px #6b7280;
  border-radius: 16px;
}
@media screen and (max-width: 48em) {
  .base-section-cont_box1, .base-section-cont_box2, .base-section-cont_box3 {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 64em) {
  .base-section-cont_box1, .base-section-cont_box2, .base-section-cont_box3 {
    flex-direction: column;
    margin-bottom: 10px;
    width: 70px;
    height: 433px;
    padding: 5px;
  }
}
@media screen and (max-width: 75em) {
  .base-section-cont_box1, .base-section-cont_box2, .base-section-cont_box3 {
    margin-bottom: 10px;
    width: 30rem;
    height: 433px;
    padding: 10px;
  }
}
.base-section-cont_box1_image, .base-section-cont_box2_image, .base-section-cont_box3_image {
  width: 80px;
  margin: 0 auto;
}

.base-section_box {
  width: 942px;
  height: 216px;
  background-color: #ffffff;
  border-radius: 0px 0px 16px 16px;
  margin: auto;
  padding-top: 5px;
  padding-left: 20px;
}
@media screen and (max-width: 48em) {
  .base-section_box {
    width: 100%;
  }
}
@media screen and (max-width: 64em) {
  .base-section_box {
    width: 100%;
  }
}
@media screen and (max-width: 75em) {
  .base-section_box {
    width: 100%;
  }
}
.base-section_box_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3b82f6;
}
.base-section_box_text2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #0D0D2B;
}
.base-section_box_text3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #6b7280;
}

.chevron-right {
  height: 40px;
  width: 90px;
  margin: 0 auto;
}

.features {
  margin-top: 5rem;
}
.features__image {
  margin-left: 6rem;
}
@media screen and (max-width: 48em) {
  .features__image {
    width: 15rem;
  }
}
@media screen and (max-width: 64em) {
  .features__image {
    width: 15rem;
  }
}
@media screen and (max-width: 75em) {
  .features__image {
    width: 15rem;
  }
}
@media screen and (max-width: 48em) {
  .features__images {
    width: 40rem;
    margin-top: 5rem;
    margin-left: -5rem;
  }
}
@media screen and (max-width: 64em) {
  .features__images {
    width: 40rem;
    margin-top: 5rem;
    margin-left: -5rem;
  }
}
@media screen and (max-width: 75em) {
  .features__images {
    width: 29rem;
    margin-top: 10rem;
    margin-left: -11rem;
  }
}
.features__image2 {
  width: 10rem;
}
.features__content2 {
  margin-left: 5rem;
}
@media screen and (max-width: 64em) {
  .features__content2 {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 75em) {
  .features__content2 {
    margin-top: 7rem;
  }
}
.features__content {
  margin-top: 7rem;
}
@media screen and (max-width: 64em) {
  .features__content {
    width: 31rem;
  }
}
.features__content--paragraph {
  width: 33rem;
  font-style: normal;
  font-weight: 400;
  margin: 1.5rem;
  color: #e0e0e0;
}
@media screen and (max-width: 64em) {
  .features__content--paragraph {
    width: 20rem;
  }
}
@media screen and (max-width: 64em) {
  .features__content--paragraph {
    width: 25rem;
  }
}
.features__content-text {
  font-style: normal;
  font-weight: 700;
  margin: 1.5rem;
  color: #ffffff;
}
.features__box-cont {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 48em) {
  .features__box-cont {
    display: block;
  }
}
@media screen and (max-width: 64em) {
  .features__box-cont {
    display: flex;
  }
}
@media screen and (max-width: 75em) {
  .features__box-cont {
    display: flex;
  }
}
.features_text1 {
  width: 758px;
  height: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  margin: auto;
  color: #ffffff;
}
@media screen and (max-width: 48em) {
  .features_text1 {
    width: 458px;
    height: 100px;
    font-size: 20px;
    font-weight: 300;
  }
}
@media screen and (max-width: 64em) {
  .features_text1 {
    width: 458px;
    height: 100px;
    font-size: 20px;
    font-weight: 300;
  }
}
@media screen and (max-width: 75em) {
  .features_text1 {
    width: 458px;
    height: 100px;
    font-size: 20px;
    font-weight: 300;
  }
}

.mining {
  position: relative;
}
.mining_cont {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5rem;
}
@media screen and (max-width: 48em) {
  .mining_cont {
    display: block;
    width: 20rem;
    height: 20rem;
    padding: 2.5rem;
  }
}
@media screen and (max-width: 64em) {
  .mining_cont {
    display: block;
    width: 20rem;
    height: 20rem;
    padding: 2.5rem;
  }
}
@media screen and (max-width: 75em) {
  .mining_cont {
    display: block;
    width: 20rem;
    height: 20rem;
    padding: 2.5rem;
  }
}
.mining_body {
  width: 1200px;
  height: 216px;
  left: 0px;
  margin-bottom: 8rem;
  border-radius: 16px;
}
@media screen and (max-width: 48em) {
  .mining_body {
    width: 20rem;
    height: 316px;
    left: 0px;
    border-radius: 16px;
  }
}
@media screen and (max-width: 64em) {
  .mining_body {
    width: 30rem;
    height: 316px;
    left: 0px;
    border-radius: 16px;
  }
}
@media screen and (max-width: 75em) {
  .mining_body {
    width: 50rem;
    height: 316px;
    left: 0px;
    border-radius: 16px;
  }
}
@media screen and (max-width: 75em) {
  .mining-image {
    width: 85rem;
    height: 316px;
    border-radius: 16px;
    margin: 0 auto;
    padding: 1.5rem;
  }
}
@media screen and (max-width: 64em) {
  .mining-image {
    width: 50rem;
    height: 316px;
    left: 0px;
    border-radius: 16px;
  }
}
@media screen and (max-width: 48em) {
  .mining-image {
    width: 44rem;
    height: 316px;
    left: 0px;
    border-radius: 16px;
  }
}
@media screen and (max-width: 48em) {
  .mining-image_text {
    width: 36rem;
  }
}
@media screen and (max-width: 64em) {
  .mining-image_text {
    width: 36rem;
  }
}
@media screen and (max-width: 75em) {
  .mining-image_text {
    width: 36rem;
  }
}
.mining-image_text2 {
  width: 348px;
  height: 56px;
  margin-top: 1.5rem;
}
.mining-image_cont {
  position: absolute;
  width: 100%;
}

.mining-input {
  width: 374px;
  margin-top: 5rem;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  background-color: inherit;
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #ffffff;
}
@media screen and (max-width: 48em) {
  .mining-input {
    margin-top: 1.5rem;
    width: 39rem;
  }
}
@media screen and (max-width: 64em) {
  .mining-input {
    margin-top: 1.5rem;
    width: 39rem;
  }
}
@media screen and (max-width: 75em) {
  .mining-input {
    margin-top: 1.5rem;
    width: 39rem;
  }
}

.btn-suscribe {
  padding: 14px 32px;
  width: 152px;
  height: 55px;
  background: #FFFFFF;
  color: #0D0D2B;
  text-align: center;
  font-weight: 500;
  border-radius: 32px;
}
@media screen and (max-width: 48em) {
  .btn-suscribe {
    width: 121px;
    height: 55px;
    /* margin: auto; */
    padding: 8px 15px;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 64em) {
  .btn-suscribe {
    width: 121px;
    height: 55px;
    /* margin: auto; */
    padding: 8px 15px;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 75em) {
  .btn-suscribe {
    width: 121px;
    height: 55px;
    /* margin: auto; */
    padding: 8px 15px;
    margin-top: 3rem;
  }
}
.btn-suscribe-text {
  width: 88px;
  height: 27px;
  /* Body/Standard - Medium */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-align: center;
  /* Color / Primary */
  color: #0D0D2B;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.mining_image-cont {
  width: 100%;
}
@media screen and (max-width: 48em) {
  .mining_image-cont {
    width: 100%;
  }
}
@media screen and (max-width: 64em) {
  .mining_image-cont {
    width: 100%;
  }
}
@media screen and (max-width: 75em) {
  .mining_image-cont {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 64em) {
  .header {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 40em) {
  .header {
    width: 100%;
  }
}
.header__content {
  width: 50rem;
}
@media screen and (max-width: 64em) {
  .header__content {
    width: 100%;
  }
}
.header__content--info {
  background-color: #6b7280;
  padding-block: 1rem;
  width: max-content;
  border-radius: 20px;
  padding-inline: 0.5rem 1.5rem;
}
.header__content--info-save {
  padding: 0.7rem 2rem;
  border-radius: 20px;
  color: #9ca3af;
  background-color: #ffffff;
}
.header__content--info-paragraph {
  margin-inline-start: 2rem;
}
.header__content--title {
  margin-block: 2.5rem 1rem;
  width: 45rem;
}
@media screen and (max-width: 64em) {
  .header__content--title {
    width: 100%;
  }
}
.header__content--paragraph {
  width: 40rem;
}
@media screen and (max-width: 64em) {
  .header__content--paragraph {
    width: 100%;
  }
}
.header__btn {
  width: 17rem;
  height: 4rem;
  margin-block-start: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.header__btn--icon {
  margin-inline-start: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #3b82f6;
}
.header__image {
  width: 60rem;
}
@media screen and (max-width: 64em) {
  .header__image {
    width: 80%;
  }
}
.header__image img {
  width: 100%;
  height: 100%;
}

.about {
  margin-block: 5rem 3rem;
}
.about--item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 64em) {
  .about--item {
    flex-direction: column;
    align-content: center;
    gap: 5rem;
  }
}
.about__list {
  display: flex;
  align-items: center;
}
.about__list--icon {
  width: 5rem;
  height: 5rem;
  background: #4b5563;
  border-radius: 50%;
  padding: 1rem;
  fill: blue;
}
.about__list--content {
  margin-inline-start: 2rem;
}

/*# sourceMappingURL=style.css.map */
