*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #0d0d2b;
  color: #ffffff;
}

.container {
  border: 2px solid red;
  max-width: 120rem;
  margin: 0 auto;
}
@media screen and (max-width: 75em) {
  .container {
    max-width: 100rem;
    margin: 0 auto;
    border: 2px solid blue;
  }
}
@media screen and (max-width: 64em) {
  .container {
    border: 2px solid green;
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 48em) {
  .container {
    border: 2px solid pink;
  }
}
@media screen and (max-width: 40em) {
  .container {
    border: 2px solid yellow;
  }
}

h1 {
  font-size: 4.8rem;
  color: #ffffff;
  color: red;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.2rem;
}

button {
  background: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.hidden {
  opacity: 0;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
}
@media screen and (max-width: 64em) {
  .nav {
    flex-direction: column;
    align-items: initial;
    font-size: 2rem;
  }
}
.nav__brand {
  width: 13.5rem;
  height: 4rem;
}
.nav__brand--logo {
  width: 100%;
  height: 100%;
}
.nav--menu {
  display: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 13.5rem);
}
@media screen and (max-width: 64em) {
  .nav--menu {
    visibility: hidden;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1000;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.nav__item {
  width: 80rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-inline-end: 2rem;
  gap: 4rem;
}
@media screen and (max-width: 75em) {
  .nav__item {
    width: 60rem;
  }
}
@media screen and (max-width: 64em) {
  .nav__item {
    justify-content: initial;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
.nav__auth {
  display: flex;
  align-items: center;
  width: 23.5rem;
}
@media screen and (max-width: 64em) {
  .nav__auth {
    margin-block-start: 2rem;
  }
}
.nav__auth--login-item {
  margin-inline: 3rem;
}
.nav__auth--register-item {
  margin-inline-start: 3rem;
}
.nav__divide {
  opacity: 20%;
}

.btn-sm {
  background-color: #3b82f6;
  height: 3rem;
  border-radius: 30px;
  width: 10rem;
}
.btn-sm a {
  font-size: 1.6rem;
}

.toggle--icon {
  position: absolute;
  top: 10px;
  right: 3px;
}
.toggle--icon, .toggle--icon::before, .toggle--icon::after {
  display: none;
  content: "";
  background-color: white;
  height: 3px;
  width: 20px;
}
@media screen and (max-width: 64em) {
  .toggle--icon, .toggle--icon::before, .toggle--icon::after {
    display: block;
  }
}
.toggle--icon::before {
  content: "";
  position: absolute;
  top: 5px;
}
.toggle--icon::after {
  content: "";
  position: absolute;
  bottom: 5px;
}

.bg {
  display: none;
  opacity: 0;
  background-color: red;
  position: fixed;
  width: 100%;
  height: 100rem;
  z-index: 0;
  top: 0;
  left: 0;
}

.footer {
  font-size: 1.6rem;
  padding-block-start: 5rem;
  width: 100%;
  text-align: center;
}
.footer--top {
  display: grid;
  grid-template-columns: 0.8fr repeat(2, 25rem) 1fr;
  gap: 3rem;
}
@media screen and (max-width: 64em) {
  .footer--top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer--list {
  margin-block-start: 3rem;
}
@media screen and (max-width: 64em) {
  .footer--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer--item:not(:first-child) {
  margin-top: 1.5rem;
}
.footer--bottom {
  margin-block-start: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 64em) {
  .footer--bottom {
    width: 100%;
    margin-block-start: 3rem;
    flex-direction: column;
    align-content: center;
  }
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 64em) {
  .footer__social {
    margin-block-start: 3rem;
    gap: 4rem;
  }
}
.footer__social--icon {
  width: 2rem;
  height: 2rem;
  fill: #f9fafb;
}

.payment__method {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-block-start: 5rem;
}
@media screen and (max-width: 64em) {
  .payment__method {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
