.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    position: relative;

    @media screen and (max-width:$l) {
        flex-direction: column;
        align-items: initial;

    }

    &__brand {
        width: 13.5rem;
        height: 4rem;

        &--logo {
            width: 100%;
            height: 100%;

        }
    }

    &--menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: calc(100% - 13.5rem);

        @media screen and (max-width:$l) {

            flex-direction: column;

        }
    }

    &__item {
        width: calc(100% - 15rem);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        margin-inline-end: 2rem;
        gap: 4rem;

        @media screen and (max-width:$xl) {
            border: 1px solid red;
            width: 71.5rem;
        }

        @media screen and (max-width:$l) {
            border: 1px solid green;
            flex-direction: column;
            margin: 0;
            align-items: initial;

        }
    }



    &__link {}

    &__divide {
        opacity: 20%;

    }
}


.btn-sm {
    margin-inline-start: 2rem;
    background-color: $color-primary-lightBlue;
    height: 4rem;
    border-radius: 30px;
    width: 10rem;

    a {
        font-size: 1.6rem;
    }


}

.toggle {
    display: none;

    &--icon,
    &--icon::before,
    &--icon::after {
        display: none;
        content: '';
        background-color: white;
        height: 3px;
        width: 20px;
    }

    &--icon::before {
        content: '';
        position: absolute;
        top: 53px;
    }

    &--icon::after {
        content: '';
        position: absolute;
        bottom: 12px;
    }
}