.features{
    margin-top: 5rem;
    &__image{
        margin-left: 6rem;
        @media screen and (max-width:$m){
           width: 15rem;
        }
        @media screen and (max-width:$l){
            width: 15rem;
        }
        @media screen and (max-width:$xl){
            width: 15rem;
        }

    }
        &__images{
            @media screen and (max-width:$m){
                width: 40rem;
                margin-top: 5rem;
                margin-left: -5rem;
            }
             @media screen and (max-width:$l){
                width: 40rem;
    margin-top: 5rem;
    margin-left: -5rem;
}
             @media screen and (max-width:$xl){
                width: 29rem;
                margin-top: 10rem;
                margin-left: -11rem;
            }
        }

    &__image2{
        width: 10rem;
    }

    &__content2{
        margin-left: 5rem;

        @media screen and (max-width:$l){
            // margin-left: 20rem;
            margin-top: 7rem;

        }
        @media screen and (max-width:$xl){
            // margin-left: 20rem;
            margin-top: 7rem;
                   }
    }

    &__content{
        margin-top: 7rem;

        @media screen and (max-width:$l) {
            width: 31rem;
        }
    

        &--paragraph{
            width: 33rem;
        // height: 56px;
        font-style: normal;
        font-weight: 400;
        // font-size: 16px;
        margin: 1.5rem;
        color: $color-tertiary-white;
        @media screen and (max-width:$l){
            width: 20rem;
        }
        @media screen and (max-width:$l){
            width: 25rem;
        }

       
       
        }
        &-text{
   
font-style: normal;
font-weight: 700;
// font-size: 32px;
// line-height: 150%;
margin: 1.5rem;
color: $color-primary-white;


        }
    }

    &__box-cont{
        display: flex;
        margin-top: 5rem;
        margin-bottom: 10rem;

        @media screen and (max-width:$m){
            display: block;
        }
        @media screen and (max-width:$l){
            display: flex;
        }
        @media screen and (max-width:$xl){
            display: flex;
        }
    }


    
    &_text1{
        width: 758px;
height: 120px;
        font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 150%;
text-align: center;
margin: auto;
color:$color-primary-white;

@media screen and (max-width:$m){
    width: 458px;
    height: 100px;
    font-size: 20px;
    font-weight: 300;
}
@media screen and (max-width:$l){
    width: 458px;
    height: 100px;
    font-size: 20px;
    font-weight: 300;
}
@media screen and (max-width:$xl){
    width: 458px;
    height: 100px;
    font-size: 20px;
    font-weight: 300;
}
    }
}