button {
    background: none;
    border: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
.hidden{
    opacity: 0;
}
.btn_calculate{
    width: 15rem;
        height: 4rem;
        margin-block-start: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        background-color: $color-primary-lightBlue;
        color: #fff;
        border-radius: 20px;
}